[submodule "libft"]
	path = libft
	url = https://github.com/star-child-0/Mylibft.git

[submodule "push_swap_visualizer"]
	path = push_swap_visualizer
	url = https://github.com/o-reo/push_swap_visualizer.git

[submodule "push_swap_tester"]
	path = push_swap_tester
	url = https://github.com/laisarena/push_swap_tester.git
